# created by virtualenv automatically

# created by virtualenv automatically
.env
.venv/
virtenv/
__pycache__

static/tiles/
transformation.txt
record_files/
legacy_converter/
file_ensoders/
check_the _structure.py
css_checker.py
remp.py
record_files/
cable_data_geojson/